.child-profile {
    text-align: left;
    width: 60%;
    /* height: 300px; */
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
  }
.profile-pic{
    width: 200px;
    height: 200px;
}
.profile-pic>img{
    max-width: 100%;
    height: auto;
}